:root {
	--white: #e1e4e1;
	--dark: #5f503e;
	--light: #9c9c9c;
	--primary-dark: #bf7c2a;
	--primary-light: #c09c6f;

	--gutter: var(--space-m);
}

body {
	font-family: Inter, sans-serif;
	background-color: var(--white);
}

h1 {
	line-height: 1;
}
