---
import RootLayout from '../layouts/root.astro';
import Logo from '../components/logo.astro';
---

<RootLayout title="moeriki">
	<div class="grid">
		<header>
			<Logo />
			<div class="title">
				<h1>moeriki</h1>
				<small><abbr title="Also Known As">a.k.a.</abbr> Dieter Luypaert</small>
			</div>
		</header>
	</div>
</RootLayout>

<style>
	.grid {
		display: grid;
		gap: var(--gutter);
		margin: var(--gutter);
	}

	header {
		display: contents;
	}

	.title {
		text-align: center;
		line-height: 1;

		& h1 {
			font-size: var(--step-5);
			font-weight: 700;
		}

		& small {
			font-size: var(--step--1);
			font-style: italic;
			font-weight: 400;
		}
	}

	@media (min-width: 550px) {
		.grid {
			grid-template-columns: min(400px, 50%) 1fr;
		}
		.title {
			text-align: right;
		}
	}
</style>
