---
import RootLayout from '../layouts/root.astro';
import Logo from '../components/logo.astro';
---

<RootLayout title="moeriki">
	<div class="grid">
		<header>
			<Logo />
			<div>
				<div class="title">
					<h1>moeriki</h1>
					<small>
						<abbr title="Also Known As">a.k.a.</abbr>
						Dieter Luypaert
					</small>
				</div>
				<div class="links">
					<a href="https://letterboxd.com/moeriki">
						<i class="fa-solid fa-clapperboard"></i>
						<div class="visually-hidden">Letterboxd</div>
					</a>
					<a href="https://last.fm/user/gOofytj">
						<i class="fa-solid fa-music"></i>
						<div class="visually-hidden">Last.fm</div>
					</a>
					<a href="https://twitter.com/dieterluypaert">
						<i class="fa-brands fa-twitter"></i>
						<div class="visually-hidden">Twitter</div>
					</a>
				</div>
			</div>
		</header>
	</div>
</RootLayout>

<style>
	.grid {
		display: grid;
		gap: var(--gutter);
		margin: var(--gutter);
	}

	header {
		display: contents;
		text-align: center;

		& .links {
			margin-top: var(--space-s);
			display: inline-flex;
			gap: var(--space-xs);

			& a {
				color: black;
			}
		}
	}

	.title {
		line-height: 1;

		& h1 {
			font-size: var(--step-5);
			font-weight: 700;
		}

		& small {
			font-size: var(--step--1);
			font-style: italic;
			font-weight: 400;
		}
	}

	@media (min-width: 550px) {
		.grid {
			grid-template-columns: min(400px, 50%) 1fr;
		}
		header {
			text-align: right;
		}
	}
</style>
