---
import logo from '../logo.svg';
---

<div class="logo">
	<img
		alt="My logo which is a vector illustation of a brown spider-monkey with its head drawn in such a way that it resembles my human head."
		src={logo}
	/>
</div>

<style>
	.logo {
		background-color: tomato;
		border-radius: 50%;
		border: 20px solid white;
		box-shadow: 0 0 0 5px black;

		& img {
			aspect-ratio: 1 / 1;
			scale: 1.05;
			translate: -2.5% 7.5%;
		}
	}

	@supports (border-radius: 50cqmin) {
		.logo {
			border-radius: 50cqmin;

			& img {
				aspect-ratio: initial;
				scale: initial;
				translate: -7.5% 7.5%;
			}
		}
	}
</style>
