$c-neutral-100: hsl(240, 27, 90);
$c-neutral-200: hsl(240, 24, 80);
$c-neutral-300: hsl(240, 21, 70);
$c-neutral-400: hsl(240, 18, 60);
$c-neutral-500: hsl(240, 15, 50);
$c-neutral-600: hsl(240, 18, 40);
$c-neutral-700: hsl(240, 21, 30);
$c-neutral-800: hsl(240, 24, 20);
$c-neutral-900: hsl(240, 27, 10);

$c-primary-100: hsl(66, 95, 90);
$c-primary-200: hsl(62, 85, 80);
$c-primary-300: hsl(58, 75, 70);
$c-primary-400: hsl(53, 65, 60);
$c-primary-500: hsl(50, 60, 50);
$c-primary-600: hsl(46, 65, 40);
$c-primary-700: hsl(42, 75, 30);
$c-primary-800: hsl(38, 85, 20);
$c-primary-900: hsl(34, 95, 10);
